.container {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
}

.container:has(.reactions) {
    margin-bottom: 3rem;
}

.container:hover .actions {
    visibility: visible;
}

.user {
    max-height: 3.2rem;
    border-radius: 50%;
    margin: auto 0.4rem 0;
    visibility: hidden;
    overflow: hidden;

}

.main {
    max-width: 60%;
    margin: 0.2rem;
    position: relative;
    
    .content {
        width: 100%;
        color: white;
        padding: 0.8rem;
        word-wrap:break-word;
        border-radius:10px;
        background-color: #6c6d6f;
    }

    .content:has(.error_message) {
        background-color: red !important;
    }

    .content:has(.unsent_message) {
        background-color: rgb(80, 80, 80);
        box-shadow: 0 0 6px yellow;
    }

    .message_image {
        width: 100%;
        height: auto;
        aspect-ratio: auto;
    }

    .message_video {

    }

    .message_link {
        color: white;
        text-decoration: underline;
        &:hover {
            color: #ccc
        }
    }

    .error_message {
    }
}

.isYours{
    flex-direction: row-reverse;
    margin-top: 1rem;

    .user {
        display: none;
    }

    .content {
        background-color: #1877F2;
        word-wrap: break-word;
        max-width: 100%;
    }

}

.actions {
    margin: 0 1rem;
    visibility: hidden;
}

.isAvatarShown {
    visibility:visible;
}

.reactions {
    position: absolute;
    top: calc(100% - 10px);   
    right: 0;
}